@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root{
    /* Cor primária */
    --amarelo:#FFDB00;
    /* Cor secundária */
    --amareloClaro: #FFFCE6;
    --azul: #0080FF;
    --white: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: var(--azulEscuro);
    font-family: "Roboto Mono", monospace;
    color: var(--azul);
    font-weight: 300;
}
.header{
    background-color: var(--amarelo);
    color: var(--azul);
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-title{
    font-family: "Black Ops One", system-ui;
    font-size:32px;
}
.header-menu{
    display: flex;
    list-style: none;
    justify-content: center;
    width:50%;
}
.header-menu li{
    margin: 15px;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s ease-out;
}
.header-menu li:hover{
    transform: scale(1.1);
    background-color: var(--azul);
    color: var(--amareloClaro);
    border-radius: 8px;
}
.header-intro{
    background-color:var(--amareloClaro);
    display: flex;
    height: 60vh;
}
.intro-left{
    width: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.intro-left #main-title{
    font-size: 32px;
    font-weight: 600;
}
.intro-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.header-intro img{
    width: 350px;
    height: 250px;
    padding: 20px;
}
